<div id="header" class="block-content">
  <div class="ng-star-inserted">
    <div
      class="surface-overlay py-3 px-6 shadow-2 lg:static"
      style="min-height: 80px"
    >
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <fa-icon class="text-500 mr-2" [icon]="faChartLine" [styles]="{'font-size': '3.5em'}"></fa-icon>
      </ng-template>
      <ng-template pTemplate="end">

      </ng-template>
    </p-menubar>
    </div>
  </div>
</div>
