<div id="footer" class="block-content">
  <div class="ng-star-inserted">
    <div class="surface-overlay px-4 md:px-6 lg:px-8">
      <div
        class="py-3 flex flex-column sm:flex-row sm:align-items-center justify-content-between"
      >
        <div>
          <fa-icon class="text-500" [icon]="faChartLine" [styles]="{'font-size': '3.5em'}"></fa-icon>
          <div class="mt-2 line-height-3 text-500">
            © {{actualYear}} Andysteel, Inc. All rights reserved
          </div>
        </div>
        <div class="mt-3 sm:mt-0">
          <a
            class="cursor-pointer text-500 transition-colors transition-duration-150 hover:text-700"
            ><i class="pi pi-twitter text-xl"></i></a
          ><a
            class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"
            ><i class="pi pi-facebook text-xl"></i></a
          ><a
            class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"
            ><i class="pi pi-github text-xl"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
