<app-header></app-header>
<div id="principal-content" class="surface-ground">
<div class="block-content"><div class="ng-star-inserted"><div class="surface-ground px-4 py-5 md:px-6 lg:px-8"><div class="grid"><div class="col-12 md:col-6 lg:col-3 p-3"><div class="p-3 text-center bg-blue-500" style="border-radius: 12px;"><span class="inline-flex justify-content-center align-items-center bg-blue-600 border-circle mb-3" style="width: 49px; height: 49px;"><i class="pi pi-inbox text-xl text-white"></i></span><div class="text-2xl font-medium text-white mb-2">123K</div><span class="text-blue-100 font-medium">Messages</span></div></div><div class="col-12 md:col-6 lg:col-3 p-3"><div class="p-3 text-center bg-purple-500" style="border-radius: 12px;"><span class="inline-flex justify-content-center align-items-center bg-purple-600 border-circle mb-3" style="width: 49px; height: 49px;"><i class="pi pi-map-marker text-xl text-white"></i></span><div class="text-2xl font-medium text-white mb-2">23K</div><span class="text-purple-100 font-medium">Check-ins</span></div></div><div class="col-12 md:col-6 lg:col-3 p-3"><div class="p-3 text-center bg-indigo-500" style="border-radius: 12px;"><span class="inline-flex justify-content-center align-items-center bg-indigo-600 border-circle mb-3" style="width: 49px; height: 49px;"><i class="pi pi-file text-xl text-white"></i></span><div class="text-2xl font-medium text-white mb-2">23K</div><span class="text-indigo-100 font-medium">Files</span></div></div><div class="col-12 md:col-6 lg:col-3 p-3"><div class="p-3 text-center bg-orange-500" style="border-radius: 12px;"><span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;"><i class="pi pi-users text-xl text-white"></i></span><div class="text-2xl font-medium text-white mb-2">40K</div><span class="text-orange-100 font-medium">Users</span></div></div></div></div></div><!----><!----></div>

<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
