/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    #principal-content {
      min-height: calc(100vh - 14.1rem);
    }
}
